#slider1,
#slider2 {
	width: 400px;
}

canvas {
	width: 400px;
}
#riveCanvasInteract {
	/* padding: 5px; */
	/* border: 2px green solid; */
}
#riveCanvasAnim {
	/* padding: 5px; */
	/* border: 2px red solid; */
}

.separator {
	height: 5px;
	width: 400px;
	background-color: lightgrey;
}
